# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# Images
*.png
*.jpg
*.jpeg

# Python
__pycache__/
*.pyc
*.pyo

# Python package metadata
*.egg-info/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# weight 
*.pth

congresso/